@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Sysmedac</h1>
    <h2 class="display-2">ANSIBLE-POC-DOTNET</h2>
    <p>Deploying Dotnet application using ansible in windows OS</a>.</p>
    <p class="text-align:center"> Date/Time: <span id="datetime"></span></p>
</div>

