@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Sysmedac-8/11/2021</h1>
    <h2 class="display-2">ANSIBLE-POC-DOTNET</h2>
    <p>Deploying Dotnet application using ansible in windows OS</a>.</p>
</div>

