@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="images/sysmedac.png"  width="400" height="200">
    <h1 class="display-4">Welcome to Sysmedac</h1>
    <h2 class="display-4">ANSIBLE-POC-DOTNET</h2>
    <p>Deploying Dotnet application using ansible in windows OS</a>.</p>
    <p style="text-align:center"> Date/Time: <span id="datetime"></span></p>
    <script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = dt.toLocaleString();
    </script>
    </html>
</div>

