@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <img src="images/sysmedac.png"  width="400" height="200">
    <h1 class="display-5">DEMO PROJECT</h1>
    <h2 class="display-4">ANSIBLE-POC-DOTNET</h2>
    <p>Deploying Dotnet Application using Ansible in windows OS</a>.</p>
    <p style="text-align:center"> Date: 16/11/2021</span></p>
</div>

